.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.main-logo {
  z-index: 2;
  width: 24em;
}

.main-text {
  width: 95%;
  text-align: center;
  font-size: 1.1em;
  z-index: 2;
  color: #FFFFFF;
  font-family: Montserrat ExtraBoldItalic;
}

.main-content {
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
}

.main-container-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.main-container-2 {
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.btn-circle {
  z-index: 5;
  position: relative;
  transition: 300ms;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(.95);
  }
}

.img-circle {
  width: 5em;
}

.icon-btn {
  position: absolute;
  width: 2.5em;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 45%;
}

.icon-btn-2 {
  position: absolute;
  width: 2em;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.main-try {
  z-index: 2;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: rgba(114, 49, 230, 0.5);
  border-radius: 25px;
  padding: 5px 15px;
  p {
    font-family: "Montserrat SemiBold Italic";
    color: #FFFFFF;
  }
}

.main-bot {
  position: absolute;
  width: 100vw;
  height: 30%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 87%;
  background: linear-gradient(360deg, #19153E 0%, rgba(26, 22, 63, 0) 100%);
}

.main-top {
  position: absolute;
  width: 100vw;
  height: 70%;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  background: linear-gradient(180deg, #19153E 15.08%, rgba(25, 21, 62, 0.86) 40.75%, rgba(26, 22, 63, 0) 100%);

}