.btn {
  border: 2px solid #ffffff;
  width: 100%;
  border-radius: 35px;
  padding: 0.9em;
  font-family: Montserrat ExtraBoldItalic;
  font-size: 1.1em;
  color: #ffffff;
  overflow: hidden;
  z-index: 2;
  background: rgba(54, 54, 54, 0.8);

  transition: 300ms;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(.95);
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}